@using WebApplication1.Models.JikanAnimeApi;

@model List<Datum>;




<div id="ChildDashboardView">
    @for (int i = 0; i < 9; i += 3)
    {
        <div class="row">
            @{
             for (int j = 0; j <= 2 && i+j < 9;j++){
                <div class="card" style="width: 18rem;" id="@Model[i+j].mal_id">
                    <img class="card-img-top" src="@Model[i+j].images.jpg.image_url" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Model[i+j].title_english</h5>

                        <p class="card-text">Rating: @Model[i+j].score</p>
                        <form asp-controller="Dashboard" asp-validation-for="LikeButton" asp-action="LikeAnime" asp-route-id="@Model[i+j].mal_id" method="post">
                            <button type="submit" class="btn btn-primary">Add Anime</button>
                        </form>

                    </div>
                </div>

             }
         }

     </div>
    }

</div>
